{% extends "base.html" %}

{% block title %}List of Posts{% endblock %}
{% block header %}
<style>
  ul {list-style-type: none;}
  li {margin-bottom: 1em;}
</style>
{% endblock %}

{% block content %}
	<h3>Posts</h3>
  <ul>
    {% for object in object_list %}
    {% if object.public or perms.posts.proofread %}
    <li>
      <a href="/{{ object.slug }}">{{ object.title }}</a>
      <span>Published: {{ object.published|date:"F jS, Y" }}</span>
      <span>Last Edited: {{ object.last_edited|date:"F jS, Y" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
