{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}
{% block header %}
  <meta name="google-site-verification" content="xnYUHH_dUK5sQh_Ss5LCOZji6atQLZy1z-sAslrubZU" />
  <link href='http://fonts.googleapis.com/css?family=Cardo&subset=latin' rel='stylesheet' type='text/css'>
  <style>
    body, h1, h2, h3, h4 {font-family: 'Cardo', arial, serif;}
  </style>
{% endblock %}

{% block content %}
<div class="content">
  <h1>Programs That Smell Good</h1>
  <br />
  <h2>Here are my last 5 posts.</h2>
{% for object in latest_post_list %}
{% if object.public or perm.posts.proofread %}
<div class="block">
<a href="{{ object.slug }}/"><h3>{{ object.title }}</h3></a>
{{ object.body|truncatewords_html:"50"|striptags }}
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
